[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
mysqlclient = "*"
jieba = "*"
django-cors-headers = "*"
pysolr = "*"
requests = "*"


[dev-packages]

